<h2>Profile:</h2>
<hr>
<p><strong>Name: </strong>{{session.user.first_name}} </p>
<p><strong>Last Name: </strong>{{session.user.last_name}} </p>
<p><strong>Email: </strong>{{session.user.email}} </p>
<p><strong>Age: </strong>{{session.user.age}} </p>
<p><strong>Role: </strong>{{session.user.role}} </p>